.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* general */
.flex {
  display: flex;
}
.align {
  text-align: center;
}
body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

/* header */
.header {
  padding: 1rem 4rem;
  background-color: #ffffff;
}
/* hero section */
.herosection-1 {
  background-color: #003145;
  color: #ffffff;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
.create-btn {
  background-color: #ffffff;
  color: black;
  font-size: 1.2rem;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
}
.herosection-1 h1 {
  font-size: 3rem;
  font-weight: 600;
}
.herosection-1 p {
  font-size: 1.3rem;
  padding: 2rem 0;
  line-height: 1.6rem;
  color: #ffffffc4;
}
.herosection-2 {
  background-color: #002a3b;
  color: #ffffff;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}
.ai {
  margin-left: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: #ffffffe0;
}
.ai h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
/* body */
.heading-2 {
  color: #ffffff;
  font-size: 2rem;
  padding-bottom: 3rem;
}
/*  participate*/
.participate {
  padding: 3rem 8rem;
}
.participate-box-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.participate-box {
  flex: 1 1 calc(50% -20px);
  background-color: #f8f9fd;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 2rem;
}
.participate-box img {
  padding: 1.2rem 0;
}
.participate-box h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
.participate-box p {
  padding: 1.2rem 0;
  color: rgba(0, 0, 0, 0.547);
  line-height: 1.5rem;
}
.title {
  font-size: 2rem;
  text-align: center;
}
.title span {
  color: #44924c;
}
/* explore */
.explore-sec-1 {
  background-color: #002a3b;
  padding: 3rem 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  width: 30rem;
  height: 2rem;
  margin-right: 2rem;
  border-radius: 10px;
  padding: 5px 20px;
}
.filter {
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
}
.explore-sec-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #003145;
  padding: 4rem 8rem;
}
.timer {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.timer-1 {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 0.7rem;
  text-align: center;
  padding-bottom: 1.4rem;
}
.timer-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-box {
  text-align: center;
  width: 354px;
}
.card {
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #ffffff;
}
.status {
  background-color: #ffce5c;
  padding: 0.2rem 1rem;
  border-radius: 4px;
}
.card h3 {
  font-size: 1.1rem;
  padding: 1rem 0;
  font-weight: 600;
  line-height: 1.4rem;
  padding-bottom: 1.4rem;
}
/* challenge page */
.file-input {
  display: none;
}

.custom-file-upload {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.56);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-right: 20px;
}
.details {
  background-color: #f8f9fd;
  padding: 2rem 4rem;
}
.details h2 {
  font-size: 1.5rem;
}
.challenge-form {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.date-img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 400px;
  top: 51px;
}
.date-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.upload-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 12rem;
}
.upload-img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 115px;
  top: 50px;
}
.input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 7px;
  border-width: 0.5px;
}
.name {
  width: 25rem;
}
.description {
  width: 50rem;
  height: 10rem;
}
.level {
  width: 12rem;
}
.btn {
  background-color: #44924c;
  padding: 0.8rem 1.2rem;
  width: 10rem;
  border-radius: 8px;
  border-width: 0.5px;
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

/* details */
.detail-hero-sec {
  background-color: #003145;
  padding: 3rem 8rem;
  color: #ffffff;
}
.detail-hero-sec time {
  background-color: #ffce5c;
  padding: 0.2rem 1.2rem;
  border-radius: 4px;
  color: black;
}
.detail-hero-sec h2 {
  font-size: 3rem;
  margin: 2rem 0;
}
.detail-hero-sec p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.detail-hero-sec span {
  padding: 0.3rem 2rem;
  background-color: #ffffff;
  color: black;
  border-radius: 4px;
}
.overview {
  padding: 1rem 8rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.overview h3 {
  margin-left: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}
.overview-hr {
  position: absolute;
  margin-top: 20px;
  width: 140px;
  border-color: #44924c;
  border-radius: 4px;
}
.details-para {
  background-color: #bfbbdc21;
  padding: 0 4rem;
  padding: 2rem 8rem;
  color: #282c34;
}
.details-para p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.edit {
  padding: 0.2rem 1rem;
  background-color: #44924c;
  color: white;
  border-radius: 4px;
  border-width: 0.5px;
  cursor: pointer;
}
.delete {
  padding: 0.2rem 1rem;
  background-color: white;
  color: red;
  border-radius: 4px;
  border: 0.5px solid red;
  margin-left: 10px;
  cursor: pointer;
}
